@import url('https://fonts.googleapis.com/css2?family= Montserrat: wght @500 & display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(141, 149, 149);
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

main {
    height: 100vh;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-estado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: %;
}

.container-img {
    width: 30%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 123, 125);
    border-radius: 15%;
    width: 140px;
    height: 40px;
    left: 362px;
    top: 681px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(51, 51, 52);
    color: aliceblue;
}