@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & family= Rubik & display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color:#607D8B;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho-nav {
    display: flex;
    gap: 4%;
}

.cabecalho-nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-estado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    width: 30%;
}

.container-estado-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 123, 125);
    border-radius: 15%;
    width: 140px;
    height: 40px;
    left: 362px;
    top: 681px;
    text-decoration: none;
}

.container-estado-link:hover {
    background-color: rgb(51, 51, 52);
    color: aliceblue;
}

.rodape {  
    text-align: center;
    background-color:#455A64;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
}

.rodape:hover {
    color:rgb(152, 164, 164);
}